USE [master]
GO
/****** Object:  Database [DBRegistro]    Script Date: 24/3/2021 13:03:56 ******/
CREATE DATABASE [DBRegistro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBRegistro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBRegistro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBRegistro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBRegistro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBRegistro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBRegistro]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 24/3/2021 13:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IDUsuario] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Edad] [int] NULL,
	[Usuario] [nvarchar](50) NULL,
	[Contraseña] [nvarchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AltaUsuario]    Script Date: 24/3/2021 13:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Rivera Facundo>
-- Create date: <23/03/2021>
-- Description:	<Alta usuario para prueba tecnica,>
-- =============================================
CREATE PROCEDURE [dbo].[AltaUsuario] (@Nombre nvarchar(50), @Apellido nvarchar(50),@Email nvarchar(50),
							  @Edad int, @Localidad nvarchar(50),@Usuario nvarchar(50),@Contraseña nvarchar(50))
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SET NOCOUNT ON;
--Definicion de variables
declare @existe int;
set @existe =0;
--Pregunto si ya existe un Nombre de Usuario
IF (Select count(Us.Usuario) FROM Usuario Us where Us.Usuario=@Usuario) >= 1
begin	
--En caso de que exista seteo 1
	set @existe =1;
END
ELSE
begin
--En caso de que no toma valor cero (seteado arriba) y hace el insert.
 Insert into Usuario
 values (@Nombre,@Apellido,@Email,@Edad,@Usuario,@Contraseña);
END

--Devuelvo variable para responder al usuario.
 select @existe as 'Existe'
	
END;
GO
USE [master]
GO
